@charset "UTF-8";
#podcast {
	width: 50%;
	height: auto;
	padding-bottom: 50%;
	position: relative;
	margin-right: 1em;
	margin-top: 1em;
	float: left;
} #podcast iframe {
	height: 100%;
	width: 100%;
	position: absolute;
} #cube {
	width: 30%;
	float: left;
	margin-right: 1em;
} #sentiment {
	width: 100%;
}