@charset "UTF-8";

/* fix for footer and download grey area */
main {
	padding-bottom: 0 !important;
}
#download-grey-area {
	padding-bottom: 20px;
}
#download-bar {
	margin-top: 1.5rem;
	font-size: 2rem;
	line-height: 2rem;
}
.title-thing {
	width: 100%;
	background-color: #4D4D4D;
	color: #FFF;
	text-align: center;
}
.title-thing h1 {
	font-weight: 100;
	margin-bottom: 0;
}
.title-thing h5 {
	margin-bottom: 1em;
	letter-spacing: 0.05em;
	font-weight: 300;
}
.title-thing .valign {
	width: 100%;
}
#last-name {
	font-weight: 400;
}

#resume, .title-thing {
	font-family: "Helvetica Neue", Helevtica, Arial, Verdana, sans-serif;
}
#resume {
	font-weight: 300;
	margin: 2em 3em 2em 1em;
}
#resume .indent {
	margin-left: 1rem;
	font-style: italic;
}
#resume h2 {
	margin-top: 0;
	margin-bottom: 0.2em;
	font-size: 3em;
	font-weight: 500;
}
#resume h3 {
	margin: 0;
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
}
#resume h4 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	width: auto;
	line-height: 1.5rem;
}
#resume p, #resume ul {
	letter-spacing: 0.05em;
}

#tidbits p, #tidbits ul {
	margin-top: 0;
}

#main-event span.summary {
	color: #12F493;
}
#main-event span.education, #main-event .edu span.aside {
	color: #2196F3;
}
#main-event span.experience, #main-event .exp span.aside {
	color: #8047ED;
}

#main-event span.aside {
	letter-spacing: 0.05em;
	float: right;
}

#main-event div, #main-event h4 {
	padding: 0;
}
#main-event p {
	margin: 0;
	padding: 0;
}
#main-event ul {
	padding-left: 2em;
	margin-top: 0;
}
#main-event li:before {
	content: "—";
	margin-left: -1.55em;
	margin-right: 0.5em;
}