#main-image img, #slideshow-spacer img {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
}

#slideshow-spacer {
    position: relative;
    z-index: -2;
    padding-bottom: 34.40891757%; /* based off ratio for slideshow photos */
}

#slideshow-spacer img {
    visibility: hidden;
}

#main-image {
    position: fixed;
    z-index: -1;
    top: 0;
}
#main-image img.inactive {
    opacity: 0;
    position: absolute;
    top: 0;
}

#welcome {
    z-index: 10;
    padding-top: 1em;
    background-color: #FFF;
}

#social-links li {
    opacity: 0; /* for staggered effect */
}
#social-links li a {
    width: 100%;
}
.github {
    background: transparent url("/images/github_black.svg") center no-repeat;
    background-size: 2em 2em;
}

.linked-in {
    background: transparent url("/images/linkedin_black.svg") center no-repeat;
    background-size: 2em 2em;
}

.facebook {
    background: transparent url("/images/facebook_black.svg") center no-repeat;
    background-size: 2em 2em;
}

.email {
    background: transparent url("/images/email_black.svg") center no-repeat;
    background-size: 2em 2em;
}

.github:hover {
    background: transparent url("/images/github_white.svg") center no-repeat;
    background-size: 2em 2em;
}

.linked-in:hover {
    background: transparent url("/images/linkedin_white.svg") center no-repeat;
    background-size: 2em 2em;
}

.facebook:hover {
    background: transparent url("/images/facebook_white.svg") center no-repeat;
    background-size: 2em 2em;
}

.email:hover {
    background: transparent url("/images/email_white.svg") center no-repeat;
    background-size: 2em 2em;
}

/* Preload images so there's no graphics delay on hover */
body:after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("/images/github_white.svg") url("/images/facebook_white.svg") url("/images/linkedin_white.svg") url("/images/email_white.svg");
}

#social-links a {
    height: 3em;
    box-sizing: border-box;
}

#with-love img {
    top: 0.5em;
    position: relative;
    height: 2em;
    width: auto;
}

/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

header {
    z-index: 999;
}

#icon {
    padding-top: 1em;
    padding-bottom: 1em;
}

#nav-links {
    height: 100%;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
   