@charset "UTF-8";
header {
	top: 0;
	width: 100%;
	z-index: 1;
	position: fixed;
}
nav { 
	margin-top: 0px;
	background-color: #212121;
	position: fixed;
	z-index: 2;
	-webkit-box-shadow: #000 0px -3em 3em 4em;
	box-shadow: #000 0px -3em 3em 4em;
	width: 100%;
}
body {
	font: 100%/1.4em Verdana, Arial, Helvetica, sans-serif;
	background-color: #CFD8DC;
	color: #727272;
	margin: 0;
	padding: 0;
}
#circle {
	z-index: 3;
	background-color: #448AFF;
	width: 5em;
	border-radius: 5em;
	height: 5em;
	position: fixed;
	top: 0;
	margin-top: 0.5em;
	margin-left: 1em;
	padding-left: 0px;
	padding-right: 0px;
	display: table;
}
#circle span {
	text-align: center;
	display: table-cell;
	color: #FFFFFF;
	font-size: 2.5em;
	font-weight: bold;
	vertical-align: middle;
}
nav a, nav a:visited, nav a:link{
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transitoin: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	
	color: #CFD8DC;
    height: 100%;
    text-align: center;
    display: inline-table;
	line-height: 3.5em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
	padding-right: 0.5em;
	padding-left: 0.5em;
	box-sizing: border-box;
}
nav a:hover, nav a:active {
	background-color: #8F98AD;
	color: #212121;
} #nav-links ul, #nav-links ul ul{
	list-style: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
} #nav-links ul ul {
	-webkit-transition: visibility 0s ease-in-out 0.3s,max-height 0.3s ease-in-out;
	-o-transition: visibility 0s ease-in-out 0.3s,max-height 0.3s ease-in-out;
	-ms-transition: visibility 0s ease-in-out 0.3s,max-height 0.3s ease-in-out;
	-moz-transition: visibility 0s ease-in-out 0.3s,max-height 0.3s ease-in-out;
	transition: visibility 0s ease-in-out 0.3s,max-height 0.3s ease-in-out;
	
	height: 14em;
    top: 3.5em;
    max-height: 0px;
    background-color: #545454;
    position: absolute;
	overflow: hidden;
	visibility: hidden;
} .submenu > a:hover, .submenu > a:active {
	background-color: inherit;
	color: #CFD8DC;
} #nav-links ul li {
	float: left;
    width: 19%;
    height: 100%;
	display: inline-table;
} #nav-links ul li ul li {
	display: block;
	height: 3.5em;
	background-color: #545454;
    width: 100%;
    float: none;
} #nav-links ul li:hover ul {
	visibility: visible;
	max-height: 15em;
	
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}
#nav-links  {
	padding-left: 7em;
	height: 100%;
	overflow: hidden;
}
address {
	position: absolute;
    bottom: 0;
}
#main-image {
	width: 100%;
	position: fixed;
	background-color: #545454;
	float: left;
	overflow-y: hidden;
	top: 3.5em;
	z-index: -2;
}
#main-image img  {
	height: auto;
	width: 100%;
	margin: auto;
	display: block;
	
	-webkit-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-moz-transitoin: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
}
.content h1 {
	color: #212121;
	z-index: 10;
	font-size: 2em;
	line-height: 1em;
} .content a {
	color: #000000;
} .content p a {
	padding-right: 0.8em;
	text-decoration: none;
	background: transparent url("/images/link_black.svg") right top no-repeat;
	background-size: 0.8em 0.8em;
} a.visit {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	
	color: #FDFDFD;
	text-decoration: none;
	float: right;
	border: 1px solid #455A64;
	background: #448AFF url("/images/link_white.svg") right center no-repeat;
	font-size: 1em;
	padding-right: 1.5em;
	padding-left: 0.5em;
	background-size: 1em 1em;
	margin: 0.25em;
} a.visit:hover, a.visit:active, a.visit:focus {
	background-color: #455A64;
}
h2, h3, h4 {
	margin-top: 0;
	margin-bottom: 0;
} h3 {
	color:  #212121;
}
section.main {
	/*margin-top: 3.5em;*/
	width: 50%;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width: 768px) {
	.content section.main {
	/*margin-top: 3.5em;*/
		width: 80%;
	}
}
.content section {
	display: block;
	clear: both;
}
.offset {
	padding-top: 3.5em;
}
#with-love img {
	height: 2em;
	width: auto;
}
#with-love {
	float: right;
	height: 100%;
} footer {
		position: fixed;
		bottom: 0;
		width: 100%;
}
.code {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.code-block {
	font-size: 75%;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background-color: #727272;
	color: #FFF;
	padding: 1em;
	word-wrap: break-word;
	margin-bottom: 2em;
}
.main .work {
	background: #FFF;
	border-bottom: solid 1px #727272;
}.main .work .toggleable img {
	width: 100%;
	margin-top: 1em;
} #welcome {
	position: relative;
	margin-top: 100%;
	width: 100%;
	background: #CFD8DC;
} .dropshadow {
	-webkit-box-shadow: 0px 0px 1.5em -0.2em #000000;
	box-shadow: 0px 0px 1.5em -0.2em #000000;
} ul.dropshadow {
	-webkit-box-shadow: 0px 0px 5.625em 0.3em #000000;
	box-shadow: 0px 0px 5.625em 0.3em #000000;
} a.dropshadow, button.dropshadow, input.dropshadow {
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	
	outline: none;
	box-shadow: 0px 0px 0.3em 0px #000000;
} a.dropshadow:hover, a.dropshadow:active, a.dropshadow:focus
 ,button.dropshadow:hover, button.dropshadow:active, button.dropshadow:focus
 ,input.dropshadow:hover, input.dropshadow:active, input.dropshadow:focus{
    box-shadow: 0px 0px 0.9em 0px #000000;
}
form.email {
	padding: 1em;
	background-color: #FFFFFF;
}
#emailspot {
	float: right;
}
.dropdown {
	border: none;
    outline: none;
    font-size: 1.17em;
    float: left;
	background: transparent url(../images/triangle.svg) center no-repeat;
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
} .trans {
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.toggleable {
	display: none;
}
.toggle, .toggleable {
	padding: 1em;
}
.toggle.open {
	background-color: #727272;
	
} .toggle.open h3 {
	color: #EBEBEB;
} .toggle.open h4 {
	color: #B5B5B5;
} .slideshow {
	position: absolute;
    top: 0;
    z-index: 0;
}.inactive {
	opacity: 0;
} #welcome-shadow {
	-webkit-box-shadow: 0px 1em 3.125em 1.875em #000;
	box-shadow: 0px 1em 3.125em 1.875em #000;
} #hamburger {
	outline: none;
	box-shadow: none;
	border: none;
	display: none;
	width: 3em;
	height: 3em;
	margin-top: 1em;
	margin-right: 1em;
	float: right;
	border-radius: 0.5em;
	background: transparent url(/images/hamburger.svg) center no-repeat;
} #hamburger:hover, #hamburger:active {
	background-color: #8F98AD;
}
@media only screen and (max-width: 641px){
	#hamburger {
		display: block;
	} #nav-links ul {
		display: none;
	} #nav-links {
		height: 3.5em;
	} /*a.visit {
		position: absolute;
		bottom: 0;
		right: 0;
	} .toggle {
		position: relative;
	}*/
}