#main-image img, #slideshow-spacer img {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
}

#slideshow-spacer {
    position: relative;
    z-index: -2;
    padding-bottom: 34.40891757%; /* based off ratio for slideshow photos */
}

#slideshow-spacer img {
    visibility: hidden;
}

#main-image {
    position: fixed;
    z-index: -1;
    top: 0;
}
#main-image img.inactive {
    opacity: 0;
    position: absolute;
    top: 0;
}

#welcome {
    z-index: 10;
    padding-top: 1em;
    background-color: #FFF;
}

#social-links li {
    opacity: 0; /* for staggered effect */
}

#social-links a i {
    border: 0.15rem white solid;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}
#social-links a {
    padding: 0;
    padding-top: 0.65em;
    text-align: center;
    height: 4.25em;
    line-height: 2.8em;
    box-sizing: border-box;
    width: 100%;
}

#with-love i {
    color: red;
    /* top: 0.5em; */
    /* position: relative; */
    /* height: 2em; */
    /* width: auto; */
}

/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

header {
    z-index: 999;
}

#icon {
    padding-top: 1em;
    padding-bottom: 1em;
}

#nav-links {
    height: 100%;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#work .row {
    margin-bottom: 1rem;
}

#work a,
#courses .collapsible-header a {
    margin: 0.75rem 0.75rem 0 0;
}

#work .collapsible-body ul {
    margin: 0 2rem 2rem 2rem;
    padding-left: 4rem;
}

#work .collapsible-body li {
    list-style-type: disc;
}

#cube {
    width: 30%;
    float: left;
    margin-right: 1em;
}
#oscsi {
    width: 50%;
    float: left;
    margin-right: 1em;
}
#work, #courses {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.subtitle {
    border-bottom: 1px solid #ccc;
}
.subtitle h5 {
    margin-left: 0 !important;
}
.collapsible-body .subpost p {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}
.template {
    display: none;
}
#courses .row {
    margin-bottom: 0;
}
#courses .collapsible-body p:first-of-type {
    margin-top: 1rem;
}
#courses {
    margin-bottom: 2rem;
}
#loading {
    /* margin-bottom: 1rem; */
    height: 4rem;
    /* display: none; */
}
#year-tabs li.tab {
    min-width: unset;
}
#year-tabs {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#rand-cube {
    /* margin-left: auto; */
    outline: none;
    /* margin-right: auto; */
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
  