@charset "UTF-8";
#cube {
	width: 30%;
	float: left;
	margin-right: 1em;
} #oscsi {
	width: 50%;
	float: left;
	margin-right: 1em;
}
#work {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
