@charset "UTF-8";
section input, section textarea {
	outline: none;
	background-color: transparent;
	width: 100%;
	padding: 0.5em;
	border: none;
	border-bottom: solid 1px #515151;
	margin-bottom: 2em;
	font-size: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	font-family: Verdana,Arial,Helvetica,sans-serif;
} section input {
	width: 49%;
} section form {
	margin-left: auto;
	margin-right: auto;
} section input[type="submit"] {
	background-color: #448AFF;
	color: #DCDCDC;
	border: none;
} section .button:hover,section .button:active,section .button:focus {
	background-color: #2F60B1;
} textarea {
	resize: vertical;
} form.email {
	padding: 1em;
	background-color: #FFFFFF;
} #emailspot {
	float: right;
} #rc-imageselect, .g-recaptcha {
	margin-bottom: 2em;
}

@media only screen and (max-width: 768px) {
	section input {
		width: 100%;
	} #emailspot {
		float: left !important;
	}
	#rc-imageselect, .g-recaptcha {
		-webkit-transform:scale(0.77);
		transform:scale(0.77);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}
