@media #{$medium-and-down} {
  #main-image {
    top: $navbar-height;
  }
}

@media #{$small-and-down} {
  #main-image {
    top: $navbar-height-mobile;
  }
}

#icon {
  border-bottom: thin solid color("grey", "lighten-1");
}

#main-image img, #slideshow-spacer img {
  @include transition(opacity 1s linear);
}

#nav-links a {
  @include transition(all .1s ease-out);
}